<h1>Dashboard!!!</h1>

<h2>Job Count by Level of Interest</h2>
<table class="level_of_interest">
  <tr>
    <th>Level of Interest</th>
    <th># of Jobs</th>
  </tr>
  <% @jobs.ordered_level_of_interest.each do |interest, count| %>
    <tr>
      <td><%= interest %></td>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>

<h2>Top Three Companies by Average Interest</h2>
<ol>
  <% @top_three.each do |avg, company| %>
  <li><%= "#{company[0].name} has an average job interest of #{avg}"%></li>
  <% end %>
</ol>
