<h1>Location!!!</h1>

<ol>
  <% @ordered.each do |company|%>
    <li><%= link_to company.name, company_path(company) %><%= " in #{company.city}" %></li>
    <% company.jobs.each do |job| %>
      <ul>
        <li><%= link_to job.title, company_job_path(company, job) %></li>
      </ul>
    <% end %>
  <% end %>
</ol>
