<h1><%= @category.title %></h1>

<ul>
  <% @category.jobs.each do |job| %>
    <li><%= link_to "#{job.title} at #{job.company.name}", company_job_path(job.company, job) %> </li>
  <% end %>
</ul>
<br>
<%= link_to "Edit", edit_category_path(@category) %>
<%= link_to "Delete", category_path(@category) %>
